* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 20px;
}


header {
    background-color: #74b2f5;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

h3 {
    color: black;
}

p {
    font-size: 18px;
    gap: 1em;
    text-align: justify;
    line-height: 1.4rem;
}

p1 {
    text-align: center;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
}

.bxl-linkedin-square .bxs-phone .bxl-gmail .bxl-github {
    font-size: 1.2rem;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    
}